#top-banner {
  @apply bg-no-repeat bg-contain md:bg-auto;
}

$mobile-slide-image-width: 846.06px;

@keyframes slide {
  0% {
    transform: translateX($mobile-slide-image-width);
  }
  
  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-$mobile-slide-image-width);
  }
}

.banner-wrapper {
  backdrop-filter: blur(80px);
}

.lottie-wrapper {
  @apply h-[800px] relative w-[1440px] ;
}

.lottie-wrapper svg {
  @apply absolute h-full left-0 top-0 w-full;
}

.slide-image {
  @apply h-[28px] w-[$mobile-slide-image-width] md:h-[39px] md:w-[1440px];  
  @media (max-width: 375px) {
    animation: slide 10s linear infinite; 
    max-width: none;
  }
}

.radius-button-transparent {
  @apply bg-transparent border cursor-pointer flex items-center justify-center;  
}

.radius-button-transparent:hover {
  @apply bg-linearGradient-1 border border-transparent;
}

.radius-button-transparent:hover > h4{
  @apply text-body;
}

.radius-button {
  @apply bg-linearGradient-1 cursor-pointer flex items-center justify-center;  
}

.radius-button:hover {
  @apply border border-white;
  background-image: none;
}

.radius-button:hover > h4{
  @apply text-primary;
}