#top-banner {
  @apply bg-contain bg-no-repeat md:bg-auto;
}

$mobile-slide-image-width: 846.06px;

@keyframes slide {
  0% {
    transform: translateX($mobile-slide-image-width);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-$mobile-slide-image-width);
  }
}

.article-wrapper-border {
  background-image: url('/article_card/card_border.png');
}

#article-center-bg {
  position: absolute;
  background: #000000;
  z-index: 16;

  @media screen and (max-width: 1920px) {
    width: 1084px;
    height: 927px;
    left: calc(50% - 1084px/2);
    top: 2px;
    filter: blur(150px);
  }

  @media screen and (max-width: 375px) {  
    width: 813px;
    height: 484px;
    left: calc(50% - 813px/2 - 1px);
    top: 220.75px;
    filter: blur(112.502px);
  }
}

.banner-wrapper {
  backdrop-filter: blur(80px);
}

.block-title-caption {
  @apply mt-[16px] text-center font-primary text-[28px] font-semibold text-primary md:text-[44px];
}

.block-sub-title-caption {
  @apply mt-[20px] text-[14px] text-primary md:mt-[16px] md:text-[16px];
}

#community-left-light {
  position: absolute;
  width: 95.98px;
  height: 265.69px;
  left: -62.45px;
  top: 19.85px;

  background: #010101;
  filter: blur(50px);
  border-radius: 10000px;
  transform: rotate(0.72deg);
  z-index: 19;
}

.git-community-card-caption {
  @apply text-[22px] font-semibold leading-[26.4px] text-primary md:text-[32px] md:leading-[38.4px];
}

.git-community-card-content {
  @apply text-[14px] leading-[16.8px] text-primary md:text-[16px] md:leading-[19.2px];
}

.git-community-card-button-caption {
  @apply text-[16px] font-medium leading-[19.2px] text-third md:text-[18px] md:leading-[21.6px];
}

.git-community-card-animation {
  @media screen and (max-width: 1920px) {
    @apply w-[633px];
  }

  /* Desktop styles - screens larger than or equal to 768px */
  @media screen and (max-width: 375px) {
    @apply w-[333px];
  }
}

.git-community-card-md-animation {
  @media screen and (max-width: 1920px) {
    @apply w-[633px];
  }

  /* Desktop styles - screens larger than or equal to 768px */
  @media screen and (max-width: 375px) {
    @apply absolute bottom-0 w-[333px];
  }
}

.grid-player {
  @apply z-[18] h-[1330px] w-[1440px];
}

.grid-mobile-player {
  @apply z-[18] h-[696px] w-[375px];
}

.home-footer-player {
  @media screen and (max-width: 1920px) {
    @apply absolute left-0 top-[-212px] w-[1440px];
  }

  /* Desktop styles - screens larger than or equal to 768px */
  @media screen and (max-width: 375px) {
    @apply absolute left-[-96px] top-[-87px] w-[566px];
  }
}

.net-player {
  @media screen and (max-width: 1920px) {
    @apply h-[580px] w-[1120px];
  }

  /* Desktop styles - screens larger than or equal to 768px */
  @media screen and (max-width: 375px) {
    @apply h-[468.41px] w-[936.86px];
  }
}

#header-left-light1 {
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 807.42px;
    height: 807.42px;
    right: calc(50% + 492px);
    top: 309.27px;

    opacity: 0.6;
    z-index: 18;
  }
}

#header-left-light2 {
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 807.42px;
    height: 807.42px;
    left: calc(50% - 1299.42px);
    top: 309.27px;

    background: #4517ff;
    mix-blend-mode: lighten;
    opacity: 0.5;
    filter: blur(500px);
    z-index: 19;
  }
}

#header-left-light3 {
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 601.36px;
    height: 601.36px;
    left: calc(50% - 1196.39px);
    top: 412.3px;

    background: #7b4cff;
    mix-blend-mode: lighten;
    opacity: 0.5;
    filter: blur(300px);
    z-index: 20;
  }
}

#header-right-bottom-light {
  position: absolute;
  background: linear-gradient(
    234.18deg,
    rgba(3, 1, 12, 0) 52.03%,
    #03010c 85.36%,
    rgba(0, 0, 0, 0.4) 118.4%
  );
  transform: matrix(-0.98, -0.17, -0.17, 0.98, 0, 0);
  z-index: 19;

  @media screen and (max-width: 1920px) {
    width: 758.37px;
    height: 558.84px;
    right: -843.71px;
    top: 418.15px;
  }

  @media screen and (max-width: 375px) {
    width: 448.7px;
    height: 330.65px;
    right: -581.64px;
    top: 247.41px;
  }
}

.header-player {
  @media screen and (max-width: 1920px) {
    @apply absolute top-0 w-[2400px];
    left: calc(50% - 1200px);
  }
  /* Desktop styles - screens larger than or equal to 768px */
  @media screen and (max-width: 375px) {
    @apply absolute left-[-700px] top-0 w-[1420px];
  }
}

.header-shadow {
  position: absolute;
  z-index: 19;

  background: linear-gradient(
    182.44deg,
    rgba(0, 0, 0, 0) 1.99%,
    #000000 74.81%
  );

  @media screen and (max-width: 1920px) {
    width: 1440px;
    height: 109.99px;
    left: calc(50% - 720px);
    top: 690.01px;
  }

  @media screen and (max-width: 375px) {
    width: 852.01px;
    height: 65.08px;
    left: -442.74px;
    top: 408.26px;
  }
}

.header-top-light-sm {
  position: absolute;
  width: 327.64px;
  height: 559.01px;
  left: 1272.95px;
  top: -291px;

  background: #9378ff;
  mix-blend-mode: lighten;
  opacity: 0.5;
  filter: blur(200px);
  z-index: 17;
}

.header-top-light-md {
  @media screen and (max-width: 1920px) {
    position: absolute;
    width: 397.53px;
    height: 609.6px;
    left: 1253.78px;
    top: -263.8px;

    background: #4517ff;
    mix-blend-mode: lighten;
    opacity: 0.5;
    filter: blur(350px);
    z-index: 16;
  }
}

.header-top-light {
  @media screen and (max-width: 1920px) {
    position: absolute;
    width: 496.92px;
    height: 762px;
    left: 1204.08px;
    top: -340px;

    background: #9917ff;
    mix-blend-mode: lighten;
    opacity: 0.5;
    filter: blur(500px);
    z-index: 15;
  }

  @media screen and (max-width: 375px) {
    position: absolute;
    width: 380.05px;
    height: 380.05px;
    left: 213.27px;
    top: -130px;

    background: #7b4cff;
    mix-blend-mode: lighten;
    opacity: 0.5;
    filter: blur(189.595px);
    z-index: 15;
  }
}

.lottie-wrapper {
  @apply relative h-[800px] w-[1440px];
}

.lottie-wrapper svg {
  @apply absolute left-0 top-0 h-full w-full;
}

.platform-shadow {
  position: absolute;
  z-index: 20;
  width: 375px;
  height: 57.28px;
  left: calc(50% - 375px / 2);
  bottom: -0.28px;

  background: linear-gradient(
    179.81deg,
    rgba(0, 0, 0, 0) 0.17%,
    #000000 99.83%
  );

  @media screen and (min-width: 768px) and (max-width: 1920px) {
    width: 1280px;
    height: 218.87px;
    left: calc(50% - 1280px / 2);
    bottom: 0px;

    background: linear-gradient(
      179.81deg,
      rgba(0, 0, 0, 0) 0.17%,
      #000000 99.83%
    );
  }
}

.slide-image {
  @apply h-[28px] w-[$mobile-slide-image-width] md:h-[39px] md:w-[1440px];
  @media (max-width: 375px) {
    animation: slide 10s linear infinite;
    max-width: none;
  }
}

.radius-button-transparent {
  @apply flex cursor-pointer items-center justify-center border bg-transparent;
}

.radius-button-transparent:hover {
  @apply border border-transparent bg-linearGradient-1;
}

.radius-button-transparent:hover > h4 {
  @apply text-body;
}

.radius-button {
  @apply flex cursor-pointer items-center justify-center bg-linearGradient-1;
}

.radius-button:hover {
  @apply border border-white;
  background-image: none;
}

.radius-button:hover > h4 {
  @apply text-primary;
}

.resource-article-bg {
  @apply absolute bg-body md:h-[927px] md:w-[1084px];
  left: calc(50% - 1084px / 2);
  top: calc(50% - 927px / 2 - 155px);
  filter: blur(150px);
}

.resource-article-part-light {
  @apply absolute bg-primary md:left-[460.96px] md:top-[303.53px] md:h-[193.94px] md:w-[181.08px];
  mix-blend-mode: color-dodge;
  opacity: 0.8;
  z-index: 16;
}

.resource-article-part-light > div {
  position: absolute;
  left: 8.16%;
  right: -8.16%;
  top: -1.68%;
  bottom: 1.68%;
  z-index: 15;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #e6e6e6 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.resource-article-main-light {
  position: absolute;
  width: 752.58px;
  height: 417.79px;
  left: 263.58px;
  top: 470.21px;

  background: #0075ff;
  mix-blend-mode: lighten;
  opacity: 0.5;
  filter: blur(466.042px);
  z-index: 17;
}

.resource-article-main-light1 {
  position: absolute;
  width: 560.52px;
  height: 311.17px;
  left: 359.62px;
  top: 523.52px;

  background: #0a49ec;
  mix-blend-mode: lighten;
  opacity: 0.5;
  filter: blur(279.625px);
  z-index: 18;
}

.resource-article-avatar {
  @apply absolute h-[86px] w-[86px];
  left: calc(50% - 86px / 2);
  top: calc(50% - 86px / 2 - 56.5px);

  background: linear-gradient(
      141.88deg,
      rgba(171, 158, 255, 0.5) 1.07%,
      rgba(0, 0, 0, 0) 35.28%
    ),
    linear-gradient(
      2.56deg,
      rgba(174, 161, 255, 0.5) -12.3%,
      rgba(0, 0, 0, 0) 50%
    );
  background-blend-mode: lighten;
}

.resource-article-title-LG-caption {
  @apply font-bold leading-[37.32px] text-[41.68x] md:text-[52.23px] md:leading-[52.77px];

  background:
    linear-gradient(90deg, #62d9ff 0%, #4081ff 100%),
    radial-gradient(
        50.13% 1864.12% at 1% 60.82%,
        rgba(168, 158, 255, 0.301) 0%,
        rgba(168, 158, 255, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        111.83% 1549.36% at 91.66% -11.83%,
        rgba(165, 201, 255, 0.252) 0%,
        rgba(165, 228, 255, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.87) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  mix-blend-mode: screen;
  text-shadow:
    0px 3.14186px 6.59791px rgba(13, 20, 104, 0.2),
    0px 0px 0px rgba(13, 20, 104, 0.2),
    0px 43.3926px 17.357px rgba(13, 20, 104, 0.03),
    0px 24.3558px 14.5575px rgba(13, 20, 104, 0.1),
    0px 10.9181px 10.9181px rgba(13, 20, 104, 0.17),
    0px 2.79952px 5.87899px rgba(13, 20, 104, 0.2),
    0px 0px 0px rgba(13, 20, 104, 0.2);
}

.resource-article-title-SM-caption {
  @apply text-[20.84px] font-medium leading-[37.32px] text-primary md:text-[26.11px] md:leading-[46.82px];
}

.resource-article-content-title-caption {
  @apply text-[20.84px] font-medium leading-[37.32px] text-primary md:text-[18px] md:leading-[18px];
}

.say-card-wrapper-border {
  @apply ml-[12px] flex h-[308px] w-[335px] flex-col overflow-hidden rounded-[4px] bg-no-repeat p-[30px] md:ml-[10px] md:h-[291px] md:w-[426px];
  background-image: url('/say_card/mobile_bg.png');
  scroll-snap-align: center;
  transition: transform 1s;

  @media screen and (min-width: 768px) and (max-width: 1920px) {
    background-image: url('/say_card/desktop_bg.png');
  }
}

.platform-light {
  position: absolute;
  width: 335px;
  height: 334.94px;
  left: calc(50% - 335px / 2 - 7.97px);
  top: 50.84px;
  opacity: 0.65;
  z-index: 14;

  @media screen and (min-width: 768px) and (max-width: 1920px) {
    width: 646.62px;
    height: 646.62px;
    left: calc(50% - 646.62px / 2 + 0px);
    top: 90px;
  }
}

.platform-light1 {
  position: absolute;
  background: #4517ff;
  mix-blend-mode: lighten;
  opacity: 0.5;
  z-index: 15;

  width: 335px;
  height: 334.94px;
  left: 0.03px;
  top: 50.84px;
  filter: blur(205.901px);

  @media screen and (min-width: 768px) and (max-width: 1920px) {
    width: 646.62px;
    height: 646.62px;
    left: 316.69px;
    top: 90px;
    filter: blur(397.508px);
  }
}

.platform-light2 {
  position: absolute;
  background: #4517ff;
  mix-blend-mode: lighten;
  opacity: 0.5;
  z-index: 16;

  width: 268px;
  height: 267.95px;
  left: 33.53px;
  top: 84.34px;
  filter: blur(144.131px);

  @media screen and (min-width: 768px) and (max-width: 1920px) {
    width: 517.3px;
    height: 517.3px;
    left: 381.35px;
    top: 154.66px;
    filter: blur(278.256px);
  }
}

.platform-light3 {
  position: absolute;
  background: #7b4cff;
  mix-blend-mode: lighten;
  opacity: 0.5;
  z-index: 17;

  width: 199.6px;
  height: 199.57px;
  left: 67.73px;
  top: 118.53px;
  filter: blur(82.3604px);

  @media screen and (min-width: 768px) and (max-width: 1920px) {
    width: 385.28px;
    height: 385.28px;
    left: 447.36px;
    top: 220.67px;
    filter: blur(159.003px);
  }
}

.subscribe-light-off {
  background: #000000;
  position: absolute;

  filter: blur(71.155px);
  height: 268.78px;
  left: calc(50% - 464.88px / 2);
  top: 11.22px;
  width: 464.88px;
  z-index: 18;

  @media screen and (min-width: 768px) and (max-width: 1920px) {
    filter: blur(150px);
    height: 666px;
    left: calc(50% - 980px / 2);
    top: -55px;
    width: 980px;
  }
}

.text-1 {
  @apply text-[18px] leading-[19.8px] text-primary md:text-[22px] md:leading-[24.2px];
}

.text-2 {
  @apply text-[13px] leading-[19.5px] text-primary text-opacity-90 md:text-[15px] md:leading-[22.5px];
}

.text-3 {
  @apply items-center justify-center font-primary text-[12.16px] font-bold leading-[15.8px] text-primary md:text-[15.25px] md:leading-[19.83px];
}

.text-4 {
  @apply items-center justify-center text-center font-primary text-[24px] font-semibold leading-[26.4px] text-primary md:text-[40px] md:leading-[44px];
}
